
* {
    margin: 0;
    padding: 0;
}

.NavBar {
    width: 100%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 50%;
}

.left-section {
    height: 100%;
    width: 50%;
}

.right-background {
    width: 100%;
    height: 100%;
    background-color: #fb500c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-background {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.logo-background:hover {
    width: 270px;
    height: 270px;
    background-color: red;
}

.logo-background img {
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer p, footer a {
    color: #fff;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

footer a:hover {
    font-size: 14px;
}